body, html{
    width: 100%;
    margin: 0;
}

.bg{
    background-image: url(imgs/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.header{
    background: rgb(155, 18, 18);
    margin-bottom: 30px;
    text-align: center;
    padding: 20px;

}

.logo{
    width: 100%;
    margin-bottom: 10px;
}

body{
    color: white;
}

.novidades{
    color: black;
}

.header_area{
    margin-top: 15px;
    font-size: 15px;
}

.redesSociais_2{
    color: white;
}

.footer_area{
    margin-top: 5px;
    text-align: center;
    margin-bottom: 15px;
}

.logo_cabecalho{
    width: 100px;
}

.footer-logo{
    width: 100px;
    display: inline;
    margin-left: 10px;
}
    
.card-img{
    border-radius: 15px;
    margin-top: 15px;
}

.no-gutters{
    width: 100%;
} 

.menu_area nav a{
    color: white;
    background-color: #582020;
    margin: 2.5px;
}

.menu_area .active{
    background-color: black !important;
}

.menu_area{
    text-align: center;
}

.searchBar{
    text-align: center;
}

.ultAvaliacoesCards .card-body {
    background-color: rgb(87, 30, 30);
}

.novidadesTit{
    color: white;
}

.cartazes > img{
    border-radius: 20px;
    padding: 10px ;
}




/* Avaliações */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


.btn-primary:hover,
.btn-primary:focus {
    background-color: #000000;
    border-color: #000000;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #000000;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #751b1b;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #000000 !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #000000 !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.card .fa-star{
    color: #fcf80a;
}

@media screen and (max-width: 992px) {
    .card-img{
      display: block;
    }
}


@media screen and (max-width: 700px ) {
    .cartazes{
     padding: 0px auto;
     display: block;
      margin: 0px auto;
    }
}


    


  








